# Python virtual environment
backend/venv/
# backend/tools/outputs/
backend/tools/logs/
backend/tools/t_logs/
frontend/node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# SQLite DB
*.sqlite3

# VSCode settings
.vscode/

# MacOS
.DS_Store

# 기타 불필요한 파일
*.log 